<html>
<body>
	<div class="main">
		
		<div class="overlay"></div>
		<div class="navbar">
			<div class="logo"><img src="assets/tntstock33.png" width="500px" height="140px"></div>
			<ul style="margin-right: 10px;">
				<li><a href="https://www.tnt.com.tn/">OUR SITE WEB</a></li>
				<li><a href="mailto:admin@tnt.com">CONTACT US</a></li>
			</ul>
		</div>
		<div class="heading">
				<h1 class="head">WELCOME TO YOUR <span>STOCK MANAGER</span></h1>
                <div class="btns">
                    <a class="btn1" href="profil" style="margin-left: 52px;width: 152px;">PROFIL</a>
                </div>
				<div class="btns m-3">
					<a class="btn1" href="articles">ARTICLES</a>
					<a class="btn2" href="clients">CLIENTS</a>
                    <a class="btn1" href="fournisseurs">FOURNISSEURS</a>
				</div>	
		</div>
	</div>	
</body>

<footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
    
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://www.tnt.com.tn/">tnt.com.tn</a>
    </div>
    <!-- Copyright -->
  </footer>
</html>