<div class="row mb-1 mr-0 custom-border">
    <div class="col-md-1 border-right p-1 text-center">
        <img src="assets/product.png" width="100px" height="100px">
    </div>

            <!--Detail article-->
    <div class="col-md-5 border-right">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
                <div class="col-md-10">Nom</div>
            </div>
            
            <div class="row">
                <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
                <div class="col-md-10">Prenom</div>
            </div>

            <div class="row">
                <div class="col-md-1"><i class="fa-solid fa-phone-alt blue-color"></i></div>
                <div class="col-md-10">00216 645 61 84</div>
            </div>
        </div>
    </div>


    <!--Etat commande-->
    <div class="col-md-3 border-right">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="fa-solid fa-qrcode blue-color"></i></div>
                <div class="col-md-10">CMD-151315</div>
            </div>
            
            <div class="row">
                <div class="col-md-1"><i class="fa-solid fa-calendar-check blue-color"></i></div>
                <div class="col-md-10">12.12.2012</div>
            </div>

            <div class="row">
                <div class="col-md-1"><i class="fa-sharp fa-solid fa-cart-shopping blue-color"></i></div>
                <div class="col-md-10">LIVREE</div>
            </div>
        </div>
    </div>


    <!--Bouttons d'action-->
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-6 text-center">
                <button type="button" class="btn btn btn-link btn-primary" (click)="modifierClick()">
                    <i class="fa-solid fa-pencil-alt"></i>&nbsp; 
                    Modifier
                </button>
            </div>
            <div class="col-md-6 text-center">
                <button type="button" class="btn btn btn-link btn-primary">
                    <i class="fa-solid fa-trash-alt"></i>&nbsp; 
                    Supprimer
                </button>
            </div>
        </div>
    </div>
</div>